/Product.API/bin/*
/Product.API/obj/*
/Product.API/Properties/*
/Identity.API/bin/*
/Identity.API/obj/*
/Identity.API/Properties/*
/Product.API/wwwroot/PartImages/
/Identity.API/Migrations/*
/Gateway/OcelotApiGw/bin/*
/Gateway/OcelotApiGw/obj/*